*{
				margin: 0px;
				padding: 0px;
			}
			
			body{
				/* width:1200px; */
				/* padding-left: 15%; */
			}
			#herder{
				width: 1200px;
				height: 46px;
				position: absolute;	
				margin: 10px;
				
			}
			#img1{
				width: 46px;
				height: 46px;
			}
			#cor{
				color:#347BB7;
				font-size:19px ;
			}
			
			div{	
				/* height: 46px; */
				overflow: hidden;
				
			}
			
			div ul li{
				float: left;
				list-style-type: none;
				padding-left:0px 10px;
				line-height: 46px;	
			}
			#boder1{
				float: left;
				margin: 10px;
				width: 300px;
			}
			div ul li a{
				text-decoration: none;
				display: block;
				width: 200px;
				height: 46px;	
				line-height: 46px;
				font-size: 19px;
			}
			div ul li a:hover{
				color: #D30404;	
			}
			#ban{
				
				width: 21px;
				height: 21px;
			}
			#text-input{
				width: 179px;
				height: 26px;
				position:absolute;
				text-align:center;
				margin-top:9px;
			}
			#text-btn{
				width: 45px;
				height: 26px;
				line-height:26px;
				background-color: #D30404;
				font-size: 15px;
				color: white;
				position:relative;
				border:0;
				left:120px;
			}
			.i1,.i2{
				width: 80px;
				height: 20px;
				background-color: #2F4050;
				font-size: 7px;
				color: white;
				line-height:0;
				margin: 10px;
			}
			.image{
				font-size:14px;
			}
			#cor-size{
				margin-left: -75px;
				font-size: 12px;
				text-align: center;
			}
			.reserch{
				background-image: url(../img/办公.png);
				width: 200px;
				width: 20px;
			}
			.fan{
				width: 27px;
				height: 5px;
				background-color: black;
			}
			#boder1{
				border:#E6E6E6 1px solid;
				height: 200px;
				line-height:0;
				line-height: 10px;
				width: 30%;
				 
			}
			#fu{
				width: 43px;
				height: 2.5px;
				color: #347BB7;
			}
			
			#main{
				padding-top: 50px;
				/* height: 600px; */
				width: 100%;
				display: flex;
				justify-content: space-around;
				flex-wrap:wrap ;

			}
			#cor1{
				padding-right: 3px;
				font-size: 10px;
				color: #347BB7;	
				border-bottom:4px solid #347BB7;
				width: 20%;			
			}
			#yuan{
				height: 50px;
				width: 50px;
				border:#E6E6E6 1px solid;
				border-radius: 50%;
				text-align: center;
				margin: 20px;
			}
			#yuan2{
				height: 50px;
				width: 50px;
				border:#80A78E 8px solid;
				border-radius: 50%;
				margin: 20px;
			}
			#font1{
				/* font-size:6px; */
			}
			.cor2{
				width: 80%;
			}
			#more{
				/* font-size: 5px; */
				/* padding-left: 160px; */
				border-bottom:4px solid #2F4050;
				margin: 3.6px;
				width: 100%;
				text-align: right;
				padding-right: 20px;
			}
			#hr1{
				width: 27px;
				height: 1.5px;
				size: 100px;
				background-color: #000000;
			}
			#one{
				font-size: 5px;
				padding-bottom: 1px;
			}
			#footer{
				height: 100px;
				width: 1200px;
				margin: 10px;
			}
			