<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.active4j.hr.item.dao.GetItemDao">
    <update id="savegoodstaus">
        update oa_get_item
        set GOODSTAUS =#{goodstaus}
        where id=#{id}
    </update>


    <select id="getAllItemMessage" resultType="com.active4j.hr.item.entity.GetItemEntity">
        SELECT * from oa_get_item
        where 1=1
        <if test="userDept !=null and userDept !=''">
         and DEPARTMENTNAME like concat('%',#{userDept},'%')
         </if>
         order CREATE_DATE desc
    </select>
</mapper>