* {
    margin: 0;
    padding: 0;

}
#app{
    width: 1903px;
    margin: 0 auto;
}



.topNavber {
    display: flex;
    margin-left: 20px;
    min-width: 1883px;
}

.logoImg {
    width: 92px;
    height: 92px;
}

.webName {
    font-size: 38px;
    color: #347BB7;
    margin-top: 23px;
    margin-left: 18px;
    font-weight: bold;
}

.navberItem {
    margin-left: 46px;
}

.navIcon {
    width: 42px;
    height: 42px;
    margin-top: 28px;
}

.navItemName {
    display: inline-block;
    margin-left: 10px;
    color: #2F4050;
    font-size: 24px;
    position: relative;
    top: -10px;
    font-weight: 400;

}

.navItemName:hover {
    color: #D30404;
}

.selectBox {
    width: 400px;
    height: 40px;
    margin-top: 29px;
    border: 1px solid #2F4050;
    border-radius: 3px;
    margin-left: 45px;
    display: flex;

}

.inpBox {
    flex: 1;
    position: relative;
}

.selectBtn {
    width: 100px;
    height: 40px;
    background: #E60012;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
}

.selectInp {
    width: 100%;
    line-height: 40px;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.inpBack {
    position: absolute;
    z-index: -1;
    top: 0;
    line-height: 40px;
    left: 20px;
    color: #333333;
    font-size: 14px;
}

.selectIcon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}



/* 盒子 */

.oneLine {
    margin-top: 3px;
    padding: 0 20px;
    display: flex;
}

.one_a {
    width: 600px;
    height: 300px;
    border: 1px solid #E6E6E6;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.borderCenter {
    margin: 0 20px;
}

.borderTitle {
    height: 59px;
    display: flex;
    line-height: 59px;
}

.border_left {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    font-size: 20px;
    font-weight: 500;
    color: #347BB7;
    border-bottom: 5px solid #347BB7;
    padding-left: 3px;
}

.border_right {
    flex: 1;
    margin-left: 20px;
    border-bottom: 5px solid #2F4050;
}

.gengduo {
    font-size: 14px;
    font-weight: 400;
    color: #7F7F80;
    float: right;
}

.gengduo:hover {
    color: #D30404;
    font-weight: 400;
}


.jia {
    float: right;
    margin-left: 6px;
    color: #D30404;
    font-weight: 400;
}

.BorderImgBox {
    width: 560px;
    height: 201px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}


/* 文章列表 */

.articleItem {
    display: flex;
    font-size: 14px;
    color: #000000;
    margin-bottom: 17px;
    margin-left: 20px;
}

.articleItem:hover {
    color: #D30404;
}

.articleItem:nth-of-type(1) {
    margin-top: 19px;
}

.articleTitle {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 三个圆 */
.circularBigBox {
    display: flex;
}

.circularBox {
    flex: 1;
    position: relative;
}

.circular {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 1px solid #E6E6E6;
    color: #000;
    text-align: center;
    line-height: 98px;
    margin: 0 auto;
    margin-top: 62px;
    font-weight: 400;
}

.circularTitle {
    text-align: center;
    font-size: 20px;
    color: #7F7F80;
    margin-top: 16px;
}



/* 第二行 */
.twoLine {
    margin-top: 10px;
}

.herfBox {
    height: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    display: flex;
    font-size: 16px;
    color: #7F7F80;
    line-height: 32px;
}

.hrefVal {
    height: 32px;
    line-height: 32px;
    margin-left: 30px;
    text-align: center;
    padding-left: 19px;
    padding-right: 19px;
    color: #FFFFFF;
    font-size: 14px;
    background: #2F4050;
}

body{
    margin-top: -5%;
}

/* 事件 */